.bg-main {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black;
}
.background-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#brand {
  position: absolute;
  bottom: 0;
  right: 35px;
  width: 21%;
  height: 53%;
  z-index: 10;
}
#brand .topt {
  position: absolute;
  top: -10px;
  left: -10px;
  content: ' ';
  width: 100%;
  height: 100%;
  background: rgba(189, 189, 189, 0.7);
  -webkit-clip-path: polygon(0 0, 0 20%, 28% 0);
  clip-path: polygon(0 0, 0 20%, 25% 0);
}
.second-brand {
  background: rgba(189, 189, 189, 0.7);
  height: 100vh;
}
.second-brand .bg-fade h5 {
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
 .second-brand .social li a img {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0;
}
#brand .bodyt {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(189, 189, 189, 0.7);
  -webkit-clip-path: polygon(25% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
  -moz-clip-path: polygon(25% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
  -ms-clip-path: polygon(25% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
  -o-clip-path: polygon(25% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
  clip-path: polygon(25% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
}
.bg-fade {
  background: #424242;
}
.bg-fade h5 {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.social li a img {
  width: 40px;
  height: 40px;
  font-size: 2.2em;
  text-align: center;
  margin: 0;
}
@media (max-width:1441px) {
  #brand {
    width: 29%;
    height: 55%;
  }
}
@media (max-width:1025px) {
  .background-main {
    left: -320px;
  }
  #brand {
    width: 42%;
    height: 57%;
  }
}
@media (max-width:769px) {
  .background-main {
    left: -120px;
  }
  #brand {
    width: 52%;
    height: 65%;
  }
}
